@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    --orange:#E95A08;
    --active:#252432;
    --des:rgba(0, 0, 0, 50%);
    --normal:#8987A1;
}

/* active #252432
    normal #8987A1
    orange #E95A08
*/

.li-hidden{
    display: inline-block;
}

.latest-box-1{
    background-image: url(assets/deal-bloom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-box-2{
    background-image: url(assets/deal-ana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest-box-3{
    background-image: url(assets/deal-zabo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 576px){
    .li-hidden{
        display: none;
    }
    .hero{
        flex-direction: column;
        margin: 25px 15px;
    }
    .hero-content{
        order: 2;
    }
    .hero-img{
        order: 1;
    }

    .plants{
        margin-top: 50px;
        padding: 20px;
    }
    .plant-title{
        font-size: 24px;
    }
    .plant-des{
        font-size: 14px;
    }

    .plant-lover{
        flex-direction: column;
    }

    .plant-lover h2{
        font-size: 24px ;
    }

    .plant-lover ul{
        font-size: 14px;
    }

    .plant-lover>.img{
        width: 90%;
        padding: 0 10px;
    }
    .plant-lover-content{
        width: 90%;
        padding: 10px 30px;
    }

    /* latest deals  */
    .latest-content-title{
        font-size: 24px;

    }
    .latest-content-des{
        font-size: 14px;
    }
    .latest-box-2{
        height: 13rem;
    }

   .latest-box-2 h3{
        font-size: 20px;
   }
   .latest-box-2 a{
    font-size: 16px;
   }


}